.ProductIcon {
    width: 48px;
    margin-left: 16px;
}

.ProductIconStroke {
    stroke: #ffffff;
    stroke-width: 3px
}

@media (max-width: 640px) {
    .ProductIconStroke {
        stroke: none;
    }
}